body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Markazi Text", "Karla",
    "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$primary_color: #495e57;
$secondary_color: #f4ce14;

$theme-colors: (
  "primary": $primary_color,
  "secondary": $secondary_color,
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
